@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details Employee</h1>
<br />
<br />
<div >

    <partial name="PartialViews/DeleteDetailsPartialEmployee" model="Model" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light ms-2">Back To List</a>


</div>


